.text {
    position: relative; 
    /* top: 89px; 
    left: 77px;  */
    font-family: Sora; /* Heading */
    font-size: 16px; 
    line-height: 26px; 
    color: #171A1FFF; /* neutral-900 */
  }
  /* Dropdown button 1 */
.dropdown {
    position: relative; 
    top: 120px; 
    left: 51px; 
    opacity: 1; 
  }
  .dropdown_input {
    width: 299px; 
    height: 41px; 
    padding-left: 12px; 
    padding-right: 34px; 
    font-family: Mulish; /* Body */
    font-size: 14px; 
    color: #171A1FFF; /* neutral-900 */
    background: #FFFFFFFF; /* white */
    border-radius: 6px; /* border-m */
    border-width: 1px; 
    border-color: #9095A0FF; /* neutral-500 */
    outline: none; 
  }
  .dropdown_svg {
    position: absolute; 
    top: 12px; 
    right: 12px; 
    width: 16px; 
    height: 16px; 
    fill: #171A1FFF; /* neutral-900 */
  }
  /* hover */
  .dropdown_input:hover {
    color: #BCC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
    border-color: #6E7787FF; /* neutral-550 */
  }
  /* focused */
  .dropdown_input:focused {
    color: #BCC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
    border-color: #9095A0FF; /* neutral-500 */
  }
  /* disabled */
  .dropdown_input:disabled {
    color: #BCC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
    border-color: #9095A0FF; /* neutral-500 */
  }
  .dropdown :disabled + .icon, .dropdown :disabled + .icon + .icon {
    fill: #171A1FFF; /* neutral-900 */
  }
  /* Container 1730 */
.container {
    position: relative; 
    /* top: 174px; 
    left: 14px; 
    width: 360px; 
    height: 340px;  */
    background: #F8F9FAFF; /* neutral-150 */
    border-radius: 12px; /* border-xl */
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
  }
  .text1 {
    position: absolute; 
    top: 528px; 
    left: 142px; 
    font-family: Sora; /* Heading */
    font-size: 14px; 
    line-height: 22px; 
    color: #171A1FFF; /* neutral-900 */
  }
  /* Button 816 */
.button {
    position: relative; 
    /* top: 555px; 
    left: 85px;  */
    width: 108px; 
    height: 36px; 
    padding: 0 12px; 
    display: inline; 
    align-items: center; 
    justify-content: center; 
    font-family: Mulish; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    color: #603C02FF; /* tertiary2-800 */
    background: #FAA621FF; /* tertiary2-500 */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
  }
  /* Hover */
  .button:hover {
    color: #603C02FF; /* tertiary2-800 */
    background: #D78604FF; /* tertiary2-600 */
  }
  /* Pressed */
  .button:hover:active {
    color: #603C02FF; /* tertiary2-800 */
    background: #B97404FF; /* tertiary2-650 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }
  /* Button 811 */
.button1 {
    position: relative; 
    /* top: 654px; 
    left: 107px;  */
    height: 44px; 
    padding: 0 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Mulish; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    color: #FAA621FF; /* tertiary2-500 */
    background: #171A1FFF; /* neutral-900 */
    opacity: 1; 
    border: none; 
    border-radius: 6px; /* border-m */
  }
  /* Hover */
  .button1:hover {
    color: #FAA621FF; /* tertiary2-500 */
    background: #262A33FF; /* neutral-750 */
  }
  /* Pressed */
  .button1:hover:active {
    color: #FAA621FF; /* tertiary2-500 */
    background: #323842FF; /* neutral-700 */
  }
  /* Disabled */
  .button1:disabled {
    opacity: 0.4; 
  }